html, body{
    font-family: 'Open Sans', sans-serif;
    font-size: 100%;
    background-color: #fff;
}
body{
	background-color: #fff;
	margin: 0;
	width: 100% !important;
	height: 100% !important;
	display: block;
}

#entry{
	margin: 0 auto;
	padding: 100px;
	width: 100%;
	min-height:456px;
	background-color: #313131;
}
.image, .description{
	float: left; 
}
.description h1{
	color: #fff;
	font-size: 32px;
	font-weight: 700;
}
.description{
	width: 500px;
	margin-left: 50px;
}
.secondary{
	color: #fff;
	font-weight: 200;
}

input::-webkit-input-placeholder {color:#fff !important;}
input::-moz-placeholder          {color:#fff !important;}/* Firefox 19+ */
input:-moz-placeholder           {color:#fff !important;}/* Firefox 18- */
input:-ms-input-placeholder 	 {color:#fff !important;}
.l-form{
	     
	margin-top: 25px;
	float: right;
	width: 250px;
}
.l-form input{
	margin-bottom: 25px;
	color: #fff;
	border: 1px solid #fff;
	background-color: #313131 !important;
}
.submit{
	color: #fff;
	border-radius: 6px;
	border: 1px solid #fff !important;
	width: 100%;
}
.submit:hover{
	background-color: #fff !important;
	color: #000 !important;
}