html, body{
    font-family: 'Open Sans', sans-serif;
    font-size: 100%;
}
body{
	margin: 0;
	background-image: url(../images/bg.jpg);
	width: 100% !important;
	background-size: 100%;
	background-repeat: no-repeat;
	height: 100% !important;
	display: block;
}
body a{
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
@font-face {
    font-family: 'nexa_boldregular';
    src: url('../fonts/Nexa_Free_Bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
li{
	list-style: none;
}
/*-----start-header----*/
.logo{
	float:left;
}
.logo a{
	color: #FFF;
	font-weight: 700;
	font-size: 3.5em;
}
.logo a:hover{
	text-decoration:none;
}
.top-header{
	position:relative;
}
.header{
	width:100%;
	padding:0 10px 0 105px;
	height:108px;
	top: 0px;
	z-index: 999;
}
/*----navbar-nav----*/
.top-nav ul li a{
	color: #FFFFFF;
	padding: 1.8em 1.3em;
	font-size: 1em;
	font-weight: 400;
	text-align: center;
}
.top-nav ul li.active a,
.top-nav ul li a:hover{
	background: url(../images/border-top.png) no-repeat 50% 0px;
	color:#FFF;
}
.logo a{
	display:block;
}
/* top-nav */
.top-nav:before,
.top-nav:after {
    content: " ";
    display: table;
}
.top-nav:after {
    clear: both;
}
nav {
	position: relative;
	float: right;
}
nav ul {
	padding: 0;
	float: right;
}
nav li {
	display: inline;
	float: left;
	position:relative;
}
nav a {
	color: #fff;
	display: inline-block;
	text-align: center;
	text-decoration: none;
	line-height: 40px;
}
nav a:hover{
	text-decoration:none;
	color:#00A2C1;
}
nav a#pull {
	display: none;
}
/*Styles for screen 600px and lower*/
@media screen and (max-width: 768px) {
	nav { 
  		height: auto;
  		float:none;
  	}
  	nav ul {
  		width: 100%;
  		display: block;
  		height: auto;
  	}
  	nav li {
  		width: 100%;
  		position: relative;
  	}
  	nav li a {
		border-bottom: 1px solid #eee;
	}
  	nav a {
	  	text-align: left;
	  	width: 100%;
	  	text-indent: 25px;
  	}
}
/*Styles for screen 515px and lower*/
@media only screen and (max-width : 768px) {
	nav {
		border-bottom: 0;
		float:none;
	}
	nav ul {
		display: none;
		height: auto;
		margin:0;
		background: #fff;
	}
	nav a#pull {
		display: block;
		position: relative;
		color: #F26D7D;
		text-align: right;
		position: absolute;
		top:20px;
	}
	nav a#pull:after {
		content:"";
		background: url('nav-icon.png') no-repeat;
		width: 30px;
		height: 30px;
		display: inline-block;
		position: absolute;
		right: 15px;
		top: 10px;
	}
	nav a#pull img{
		margin-right:2%;
	}
	.top-nav ul li a {
		color: #2C3E50;
		padding: 0em 0;
	}
}
/*Smartphone*/
@media only screen and (max-width : 320px) {
	nav {
		float:none;
	}
	nav li {
		display: block;
		float: none;
		width: 100%;
	}
	nav li a {
		border-bottom: 1px solid #576979;
	}
}
.events {
  list-style: none;
}
.callbacks_container {
  position: relative;
  float: left;
  width: 100%;
  height: 630px;
}
.callbacks {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
}
.callbacks li {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
}
.callbacks img {
  position: relative;
  z-index: 1;
  height: auto;
  border: 0;
}
.callbacks .caption {
	display: block;
	position: absolute;
	z-index: 2;
	font-size: 20px;
	text-shadow: none;
	color: #fff;
	left: 0;
	right: 0;
	padding: 10px 20px;
	margin: 0;
	max-width: none;
	top: 10%;
	text-align: center;
}
.callbacks_nav {
  	position: absolute;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	top: 52%;
	left: 0;
	opacity: 0.7;
	z-index: 3;
	text-indent: -9999px;
	overflow: hidden;
	text-decoration: none;
	height: 61px;
	width: 55px;
	background: transparent url("../images/themes.png") no-repeat left top;
	margin-top: -65px;
}
.callbacks_nav:active {
  opacity: 1.0;
}
.callbacks_nav.next {
  left: auto;
  background-position: right top;
  right: 0;
}
.callbacks_tabs{
	list-style: none;
	position: absolute;
	top: 88%;
	z-index: 999;
	left: 45%;
}
.callbacks_tabs li{
	display:inline-block;
}
@media screen and (max-width: 600px) {
  h1 {
    font: 24px/50px "Helvetica Neue", Helvetica, Arial, sans-serif;
    }
  .callbacks_nav {
    top: 47%;
    }
}
/*----*/
.callbacks_tabs a{
 visibility: hidden;
}
.callbacks_tabs a:after {
  content: "\f111";
  font-size:0;
  font-family: FontAwesome;
  visibility: visible;
  display: block;
  height:13px;
  width:13px;
  display:inline-block;
  border:2px solid #FFF;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -o-border-radius: 30px;
  -ms-border-radius: 30px;
}

.container{
	 width: 100%;
}

.mainMoney {
	width: 100%;
 	list-style: none;
 };

 .moneyIn ul{
 	list-style:none; 
 	padding:5px;
 	position: relative;
 }

.inputMoney li{
	display: block; 
	padding: 10px; 
}

.typebtn{
    width: 49%;
}

.last{
	width: 100%;
}

.last td{
	padding: 5px 0;
}

.moneyIn{
	border-radius: 2px;
	width: 350px;
	padding:25px;
	background:#FFF;
	float:left;
	margin-top:50px;
	margin-bottom:100px;
}
.lastData{
	width:300px; 
	float:left; 
	margin-right:50px;
	margin-top:50px;
	position:relative;
}

/*Tabs*/
#tabs
{
	border-radius: 2px 2px 0 0;
  overflow: auto;
  width: 100%;
  overflow:hidden;
  list-style: none;
  margin: 0;
  padding: 0;
}
 
#tabs .type
{
    margin: 0;
    float: left;
    width: 62px; 
	background: #1ABC9C;
}

#tabs .type:last-child{
	padding-top: 15px;
	padding-left: 15px;
	color: #fff;
	width: 176px;
	margin: 0px;
	height: 62px;
}

.type a
{	padding:15px;
	width:100%;
    text-shadow: none;
    color: #fff;
    float: left;
    height: 62px;
    text-decoration: none;
}

.type a:hover
{
	color: #fff;
    background: #48C9B0; 
}
 
#tabs a:focus, button:focus
{
    outline: 0;
}

#tabs #current{
	background: #fff;
}

#tabs #current a
{   
    color: #333;
}
 
#content
{
    background-color: #fff;
    -moz-border-radius: 0 0 2px 2px;
    -webkit-border-radius: 0 0 2px 2px;
    border-radius: 0 0 2px 2px;
    padding: 30px;
}
 
#content div
{
    height: auto;
}

.img_td{
	width: 40px;
}

.more-link{
	margin-top:25px;
	margin-left: -30px;
	margin-bottom: -30px;
}

.more-link a{
	width: 300px;
	border-radius: 0 0 2px 2px;
}

/*	full info	*/
.types{
	width: 226px;
	margin: auto;
	margin-top: 50px;
}

.types button{
	background: #fff;
	color: #000;
	width: 113px;
}

.types button:first-child{
	border-radius: 2px 0 0 0;
}

.types button:last-child{
	width: 112px;
	border-radius: 0 2px 0 0;
}
.periods{
	width: 226px;
	margin: auto;
	margin-top: -50px;
	margin-bottom: 50px;
}

.periods button:first-child{
	border-radius: 0 0 0 4px;
}

.periods button:last-child{
	border-radius: 0 0 4px 0;
}

.types .active{
	background: #58d68d;
}

.periods .active{
	background: #48c9b0;
}

#fullInfo{
	margin: 0 auto;
	padding: 50px;
	background: #fff;
	border-radius: 2px;
	width: 900px;
	margin-bottom: 50px;
	min-height: 400px;
}

#fullInfo table{
	width: 750px;
	margin: 0 auto;
}

#fullInfo td, #fullInfo th{
	padding: 10px 25px;
}

#fullInfo thead{
	color: #fff;
	border: none;
	border-radius: 2px 2px 0 0;
	background: #78C8D3;
}

#fullInfo tr{
	border-top: 1px solid #78C8D3;
}